<main>
    {{#if hasProducts }}
        <ul>
        {{#each products}}
            <li><p>{{this.title}} ({{ this.cartItem.quantity }})</p>
                <form action="/cart-delete-product" method="POST">
                    <input type="hidden" name="productId" value="{{this.id}}">
                    <button class="btn" type="submit">Delete</button>
                </form>
            </li>
        {{/each}}
        </ul>
    {{else}}
        <h1>No products in cart.</h1>
    {{/if}}
</main>